{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificados</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="{% static 'certificados/base.js'%}"></script>
    <link rel="stylesheet" href="{% static 'certificados/css.css'%}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="/certificados/">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                </svg>              
                Certificados
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/certificados/">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/certificados/novo_certificado">Novo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/certificados/todos">Certificados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/certificados/validar">Validar</a>
                    </li>
                    <li class="nav-item menu-perfil">
                        <a class="nav-link" href="/certificados/usuario/">Veja seu perfil</a>
                    </li>
                    <li class="nav-item menu-perfil">
                        <a class="nav-link" href="/certificados/logout">Sair</a>
                    </li>
                </ul>
            </div>
            {% if user.is_authenticated %}
                <div style="display: none"><span id="nome_usuario">{{ user.first_name }}</span> <span id="sobrenome_usuario">{{ user.last_name }}</span></div>
                <div class="text-white nome-usuario">
                    <div id="nome_user"></div>
                </div>
                <script> nome_user_encurtado(); </script>
            {% endif %}
            <div class="nav-item dropdown foto-perfil">
                <svg href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="white" class="bi bi-person-circle dropdown-toggle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
                <div class="dropdown-menu dropdown-perfil-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item opcoes-dropdown-perfil-menu fw-bold" href="/certificados/usuario/{{u.id}}">Veja seu perfil</a>    
                  <a class="dropdown-item opcoes-dropdown-perfil-menu fw-bold" href="/certificados/logout">Sair</a>
                </div>
            </div>
        </div>
    </nav>

    {% if messages%}
        {% for m in messages %}
            <center>
                <div class="fazer_modal">
                    <div id="modal_menssagem" class="alert alert-{{m.tags}}" role="alerts">
                        {{ m }}
                        <div class="fechar_modal" onclick="fechar_modal_menssagem()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </center>
        {% endfor %}
    {% endif %}

    <div class="px-sm-3">
        {% block conteudo %}

        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'certificados/main.js'%}"></script>
</body>
</html>